@import '../../style/variables.scss';

ion-icon {
  pointer-events: none;
}

.e-mainnav {
  margin: 0 0 20px;
  background: var(--module);
  width: 100%;
  height: 60px;
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 999;

  &__pagelist {
    list-style: none;
  }

  &__item, &__link {
    color: $text;

    &:hover {
      color: $link;
    }
  }

  &__item {
    text-transform: capitalize;
  }

  &__item--selected {
    color: $link;
  }

  &__button {
    width: 32px;
    height: 32px;
    position: relative;
    border: unset;
    background: var(--link);
    color: #fff;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-left: 10px;

    &:hover {
      box-shadow: 0 0 0 3px var(--outline);
    }

    &--menu {
      font-size: 26px;
      margin-left: unset;
    }

    &--theme {
      font-size: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .e-mainnav {
    &__pagelist {
      display: flex;
      margin-left: auto;
      font-weight: 500;
    }

    &__item {
      padding: 1.25rem;
      position: relative;

      &--selected::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background: var(--link);
      }
    }
  }
}

@media (max-width: 1023px) {
  [data-menu='closed']{
    height: 0;
    overflow: hidden;
  }
  [data-menu='opened']{
    padding-top: 4rem;
    height: 100vh;
    overflow-y: auto;
  }

  .e-mainnav {
    &__logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &__pagelist {
      position: absolute;
      top: 0px;
      left: -10px;
      background: rgba(0,0,0,.9);
      width: 100vw;
      z-index: 998;
      text-align: center;
      transition: all ease 200ms;
    }

    &__item {
      display: block;
      padding: 1rem 0;
      font-size: 22px;
      color: #fff;
    }

    &__pagelist--close {
      color: #fff;
      border: unset;
      background: unset;
      position: absolute;
      top: 25px;
      left: 25px;
      font-size: 36px;
    }
  }
}