$gray: var(--gray);
$green0: var(--green0);
$green1: var(--green1);
$green2: var(--green2);
$green3: var(--green3);
$green4: var(--green4);
$green5: var(--green5);
$green6: var(--green6);
$green7: var(--green7);
$green8: var(--green8);
$green9: var(--green9);
$background: var(--background);
$module: var(--module);
$text: var(--text);
$link: var(--link);
$outline: var(--outline);